<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
		<link rel="stylesheet" href="/static/css/home.css" />
    </head>
    <body>
        {% extends "header-footer.html" %}
        {% block content %}

        <h1>About Flask. Inside about.html</h1>
        <p> Flask is a micro web framework written in Python.</p>
        <p> Applications that use the Flask framework include Pinterest,
        LinkedIn, and the community web page for Flask itself.</p>

        {% endblock %}
    </body>
</html>